

@font-face {
    font-family: 'microsoft-new-tai-lue';
    src:
         url('microsoft-new-tai-lue.ttf') format('ttf'),
         url('microsoft-new-tai-lue.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'miriad-pro-regular';
    src:
         url('MyriadPro-Regular.ttf') format('ttf'),
         url('MyriadPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Medium';
    src:
        url('Poppins-Medium.ttf') format('ttf'),
        url('Poppins-Medium.woff') format('woff');
    
}
@font-face {
    font-family: 'Poppins-SemiBold';
    src:
        url('Poppins-SemiBold.ttf') format('ttf'),
        url('Poppins-SemiBold.woff') format('woff');
   
}
@font-face {
    font-family: 'Poppins-Regular';
    src:
        url('Poppins-Regular.ttf') format('ttf'),
        url('Poppins-Regular.woff') format('woff');
   
}
@font-face {
    font-family: 'Merriweather-LightItalic';
    src:
        url('Merriweather-LightItalic.ttf') format('ttf'),
        url('Merriweather-LightItalic.woff') format('woff');
   
}
@font-face {
    font-family: 'Merriweather-Bold';
    src:
        url('Merriweather-Bold.ttf') format('ttf'),
        url('Merriweather-Bold.woff') format('woff');
   
}
@font-face {
    font-family: 'Merriweather-Italic';
    src:
        url('Merriweather-Italic.ttf') format('ttf'),
        url('Merriweather-Italic.woff') format('woff');
   
}
